@media (max-width: $fik-desktop) {
  .featured {
    grid-column: span 2;
  }
}
.fik-card.show {
  animation: fadein 0.5s ease;
}
.fik-card.hide {
  display: none;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
