.header {
  background-color: $fik-white;
  font-size: rem(12);
  font-weight: $font-bold;
  padding: 0 1rem;
  height: $header-height;
  @media (min-width: $fik-desktop) {
    padding: 0 0 rem(40) 0;
  }
  &__wrapper {
    @include wrapper(95%, rem(1400));
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    @media (min-width: $fik-desktop) {
      grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
    }
  }
  &__logo {
    width: rem(100);
    justify-self: center;
    @media (min-width: $fik-desktop) {
      width: rem(150);
    }
  }
  .menu {
    position: fixed;
    top: $header-height;
    right: 0;
    width: 100%;
    height: calc(100vh - #{$header-height});
    background-color: $fik-grey;
    text-align: center;
    padding-top: 2rem;
    transform: translate(-100%);
    transition: transform 0.6s;

    &.is-visible {
      transform: translate(0);
      z-index: 1;
    }
  }
  &__menu {
    position: fixed;
    top: $header-height-mb;
    left: 0;
    width: 100%;
    height: calc(100vh - #{$header-height});
    background-color: $fik-grey;
    text-align: center;
    padding-top: rem(24);
    transform: translate(100%);
    transition: transform 0.6s;
    z-index: $z-menu;

    @media (min-width: $fik-desktop) {
      top: $header-height;
    }
  }
  &__nav, &__actions {
    display: flex;
    align-items: center;
  }
  &__actions {
    justify-self: flex-end;
  }

  &__actions-icon  {
    margin-left: rem(20);
  }

  &__menu-icon {
    cursor: pointer;
  }

  &__anchor {
    display: inline-block;
    font-weight: $font-light;
    padding: 1.5em;
    letter-spacing: rem(0.8);
  }
  &__button {
    display: block;
    border-bottom: 2px solid $fik-black;
    cursor: pointer;
    text-transform: uppercase;
    font-size: rem(14);
    font-weight: $font-bold-700;
  }
  .icon-search {
    display: none;
  }
  @media (max-width: $fik-desktop) {
    &__button {
      display: none;
    }
    .icon-search {
      display: inherit;
    }
  }
}