<!DOCTYPE html>
<html xml:lang="es" lang="es">
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- DYNAMIC METAS -->
    {{#block "metas_and_title"}}{{/block}}

    <!-- PRELOADS -->
    {{#block "preloads"}}{{/block}}

    <!-- RESPONSIVE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Ze-Glasses">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Ze-Glasses">

    <meta name="robots" content="noindex">

    <!--CSS-->
    {{#block "styles"}}
    <link rel="stylesheet" href="assets/css/application.css">
    {{/block}}
</head>
<body>
{{#block "header"}}
    {{> header }}
{{/block}}

<main role="main" class="main">
    {{#block "content"}}
        <div class="images">
            {{> fik_filters }}
        </div>
        <div class="grid cards">
            {{#each cards}}
                {{> fik_card }}
            {{/each}}
        </div>
    {{/block}}
</main>

{{#block "footer" }}
    {{> footer }}
{{/block}}

{{#block "javascripts"}}
<script src="assets/js/application.js"></script>
{{/block}}

</body>
</html>