<div class="fik-filter">
    <h1>GLASSES</h1>
    <div class="fik-filter__container js-filters">
        <span class="fik-filter__label">COLOR:</span>
        <div class="fik-filter__buttons">
            <button class="fik-filter__item js-filter__item active" data-filter="all"> Show all</button>
            <button class="fik-filter__item js-filter__item" data-filter="black"> Black</button>
            <button class="fik-filter__item js-filter__item" data-filter="blue"> Blue</button>
            <button class="fik-filter__item js-filter__item" data-filter="red"> Red</button>
        </div>
    </div>
</div>