<header class="header">
    <div class="header__wrapper">
        <div>
            <button id="js-menu-button" class="header__menu-icon">
                <img src="../../assets/svg/icon-burger.svg" alt="menu">
            </button>
            <nav class="header__nav">
                <ul id="js-menu" class="menu">
                    <li class="header__menu-item">
                        <a href="#hero" class="header__anchor"> Hero </a>
                    </li>
                    <li class="header__menu-item">
                        <a href="#about" class="header__anchor"> Quienes Somos </a>
                    </li>
                    <li class="header__menu-item">
                        <a href="#services" class="header__anchor"> Servicios </a>
                    </li>
                    <li class="header__menu-item">
                        <a href="#team" class="header__anchor"> Equipo </a>
                    </li>
                    <li class="header__menu-item">
                        <a href="#newsletter" class="header__anchor"> Newsletter </a>
                    </li>
                    <li class="header__menu-item">
                        <a href="#contact" class="header__anchor"> Contacto </a>
                    </li>
                </ul>
            </nav>
        </div>
        <img src="../../assets/svg/logo.svg" alt="menu" class="header__logo">
        <div class="header__actions">
            <button class="header__button" data-filter="all"> Search</button>
            <img src="../../assets/svg/icon-search.svg" alt="menu" class="header__actions-icon icon-search">
            <img src="../../assets/svg/icon-cart.svg" alt="menu" class="header__actions-icon">
        </div>
    </div>
</header>